@page "/view-topic/{topicName}"
@using KfkAdmin.Components.Pages.ViewTopic.Components
@using KfkAdmin.Interfaces.Providers
@using KfkAdmin.Models.Entities
@rendermode InteractiveServer

<h3>Просмотр топика - @TopicName</h3>

@if (_topic is not null)
{
    <TopicInfo Topic="_topic"/>
}

<PartitionTable TopicName="@TopicName"/>

<MessageTable TopicName="@TopicName" MessageCount="(_topic?.MessageCount ?? 0)"/>

@code {
    [Inject] private IKafkaRepositoryProvider _repositoryProvider { get; set; }
    
    [Parameter] public string TopicName { get; set; }

    private Topic? _topic;
    
    protected override async Task OnInitializedAsync()
    {
        _topic = await _repositoryProvider.TopicRepository.GetByNameAsync(TopicName);
    }
}