@using KfkAdmin.Components.Utils.Modal

<Modal @ref="modal" Title="Добавить топик">
    <EditForm Model="@formModal" OnValidSubmit="CreateTopicHandlerAsync">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="topicName">Имя топика</label>
            <InputText id="topicName" class="form-control" @bind-Value="formModal.Name" />
            <ValidationMessage For="@(() => formModal.Name)" />
        </div>

        <div class="form-group">
            <label for="partitionCount">Количество партиций</label>
            <InputNumber id="partitionCount" class="form-control" @bind-Value="formModal.PartitionCount" />
            <ValidationMessage For="@(() => formModal.PartitionCount)" />
        </div>

        <div class="form-group">
            <label for="replicationFactor">Фактор репликации</label>
            <InputNumber id="replicationFactor" class="form-control" @bind-Value="formModal.ReplicationFactor" />
            <ValidationMessage For="@(() => formModal.ReplicationFactor)" />
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" @onclick="modal.Hide">Закрыть</button>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
    </EditForm>
</Modal>


<button class="btn btn-success btn-sm" @onclick="() => modal.Show()">
    <i class="bi bi-plus-square"></i>
    Добавить топик
</button>