@page "/add-topic/"
@using KfkAdmin.Interfaces.Providers
@using KfkAdmin.Models.DTOs
@using KfkAdmin.Models.Entities
@rendermode InteractiveServer

<h3>Создание нового топика</h3>

<EditForm Model="@topicModel" OnValidSubmit="CreateTopicHandlerAsync" FormName="SaveTopic">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    
    <div>
        <label>Имя:</label>
        <InputText @bind-Value="topicModel.Name" class="form-control"/>
    </div>
    
    <div>
        <label>Кол-во партиций:</label>
        <InputNumber @bind-Value="topicModel.PartitionCount" class="form-control"/>
    </div>
    
    <div>
        <label>Фактор репликации:</label>
        <InputNumber @bind-Value="topicModel.ReplicationFactor" class="form-control"/>
    </div>

    <button type="submit" class="btn btn-success">Создать топик</button>
</EditForm>

@code {
    [Inject] private IKafkaServiceProvider _serviceProvider { get; set; }
    [Inject] private NavigationManager _navigationManager { get; set; }

    private TopicFormDto topicModel = new();

    private async Task CreateTopicHandlerAsync()
    {
        await _serviceProvider.TopicService.CreateTopicAsync(new Topic()
        {
            Name = topicModel.Name,
            PartitionCount = topicModel.PartitionCount,
            ReplicationFactor = topicModel.ReplicationFactor
        });
        
        _navigationManager.NavigateTo("/");
    }
}