@page "/"
@using KfkAdmin.Components.Pages.Home.Components

<PageTitle>Home</PageTitle>

<div class="d-flex mb-3 p-2 border border-1 rounded-1">
    <a class="btn btn-success btn-sm" href="/add-topic/">
        <i class="bi bi-plus-square"></i>
        <span class="ms-2">Добавить топик</span>
    </a>
</div>

@*Таблица с топиками*@
<TopicTable/>

@*Таблица с группами*@
<ConsumerGroupTable/>
