@using KfkAdmin.Extensions.Kafka
@rendermode InteractiveServer

<h3>Сообщения в топике</h3>

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Ключ</th>
        <th>Заголовок</th>
        <th>Сообщение</th>
    </tr>
    </thead>
    <tbody>
    @if (messages is { Count: > 0 } && showMessageState == LoadingMessageState.Ready) /*Сообщения есть и загружены*/
    {
        @foreach (var message in messages)
        {
            <tr>
                <td>@message.Key</td>
                <td>@message.Headers.HeaderToJson()</td>
                <td>@message.Payload</td>
            </tr>
        }
    }
    else if (showMessageState == LoadingMessageState.Hide) /*Сообщения скрыты*/
    {
        <tr>
            <td colspan="3" class="text-center">
                <button class="btn btn-primary" @onclick="ShowMessageAsync">
                    Отобразить сообщения
                </button>
            </td>
        </tr>
    }
    else if (showMessageState == LoadingMessageState.Loading)
    {
        <tr>
            <td colspan="3" class="text-center">Загрузка сообщений</td>
        </tr>
    } /*Загрузка сообщений*/
    else
    {
        <tr>
            <td colspan="3">Сообщения не найдены</td>
        </tr>
    }
    </tbody>
</table>