<h3>PartitionTable</h3>

<EditForm class="d-flex justify-content-around" Model="filterModel" OnValidSubmit="LoadPartitionsAsync">
    <div>
        <label>Только партиции с сообщениями:</label>
        <InputCheckbox @bind-Value="filterModel.OnlyPartitionsWithMessage"/>
    </div>
    <div>
        <label>Кол-во партиций:</label>
        <InputSelect bind-Value="filterModel.Count" TValue="int">
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="-1">Все</option>
        </InputSelect>
    </div>
</EditForm>

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @if (_partitions is { Count: > 0 })
    {
        foreach (var partition in _partitions)
        {
            <tr>
                <td>@partition.Id</td>
                <td>@partition.MinOffset</td>
                <td>@partition.MaxOffset</td>
                <td>@(partition.MaxOffset - partition.MinOffset)</td>
            </tr>
        }
    }
    else if (_partitions is null)
    {
        <tr>
            <td>Загружаем партиции</td>
        </tr>
    }
    else
    {
        <tr>
            <td>Партиции не найдены</td>
        </tr>
    }
    </tbody>
</table>