@using KfkAdmin.Components.Utils.Modal
@using KfkAdmin.Models.DTOs
@rendermode InteractiveServer

<Modal @ref="ModalInstance">
    <EditForm Model="model" FormName="SendMessageForm" OnValidSubmit="SendMessageFormHandler" Title="Пример модального окна" OnConfirm="SaveChanges" OnClose="CancelChanges">
        <DataAnnotationsValidator/>
        <ValidationSummary/>

        <div>
            <label>Ключ:</label>
            <InputText @bind-Value="model.Key" class="form-control"/>
        </div>

        <div>
            <label>Заголовок:</label>
            <InputTextArea @bind-Value="model.Headers" class="form-control"/>
        </div>

        <div>
            <label>Полезная нагрузка:</label>
            <InputTextArea @bind-Value="model.Value" class="form-control"/>
        </div>
    </EditForm>
</Modal>

<button class="btn btn-success" @onclick="OpenModal">Отправить сообщение</button>

@code {
    [Parameter] public string TopicName { get; set; }
    
    private Modal? ModalInstance;
    
    private SendMessageFormDto model = new ();

    private async Task SendMessageFormHandler()
    {
        await Task.CompletedTask;
    }
    
    
    private void OpenModal()
    {
        ModalInstance?.Show();
    }

    private Task SaveChanges()
    {
        Console.WriteLine("Изменения сохранены.");
        return Task.CompletedTask;
    }

    private Task CancelChanges()
    {
        Console.WriteLine("Изменения отменены.");
        return Task.CompletedTask;
    }
}