<h4>Управление базой данных</h4>

<div class="d-flex">
    <button class="btn btn-danger me-3">Очистить базу данных</button>
    <button class="btn btn-success me-3">Импортировать базу данных</button>
    <button class="btn btn-success me-3">Экспортировать базу данных</button>
</div>